<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <listener>
        <listener-class>edu.rpi.tw.twdb.server.ServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>AssertionsSparqlHttpServlet</servlet-name>
        <servlet-class>edu.rpi.tw.twdb.server.servlet.sparql.AssertionsSparqlHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NanopublicationsSparqlHttpServlet</servlet-name>
        <servlet-class>edu.rpi.tw.twdb.server.servlet.sparql.NanopublicationsSparqlHttpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AssertionsSparqlHttpServlet</servlet-name>
        <url-pattern>/sparql/assertions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NanopublicationsSparqlHttpServlet</servlet-name>
        <url-pattern>/sparql/nanopublications</url-pattern>
    </servlet-mapping>
</web-app>
